<div class= "m-0 mw-100">
  <div class= "row m-0 p-0">
    <div class="col-xs-12 col-sm-6 m-0 p-0 w-100">
      <%= render 'shared/long-search-bar' %>
      <div class= "form-row align-items-center ml-2 my-4">
        <div class= "form-group col-4 m-1">
          <label class=" ml-2" for="exampleCategory">Category</label>
          <select class="form-control ">
            <option>Gardening</option>
            <option>Woodwork</option>
            <option>Building</option>
            <option>General Purpose</option>
            <option>Warehouse</option>
            <option>Motorised</option>
          </select>
        </div>
        <div class= "form-group col-4 m-1">
          <label class="ml-2"for="exampleLocation" id="location">Location</label>
          <input type="location" class="form-control form-control" placeholder="Current location" value= <%= current_user.address.to_s %> >
        </div>
        <div class= "form-group col-3 m-1">
          <label class="ml-2" for="formControlRange">Distance</label>
          <input type="range" class="form-control form-control-range" id="formControlRange">
        </div>
      </div>
      <div class="row m-2" >
        <% @tools.each do |tool| %>
          <div class="col-sm-6 p-0">
            <div class="overflow-hidden card mb-4 mx-0 p-0">
              <% if tool.photo.attached? %>
              <%= cl_image_tag tool.photo.key, alt: "tool", class: "card-img-top img-fluid overflow-hidden"%>
              <% else %>
              <img class="card-img-top img-fluid overflow-hidden" src="https://hackaday.com/wp-content/uploads/2019/03/engraved-hammer-featured.jpg?w=800" alt="image of a tool" >
              <% end %>
              <div class="py-3 pl-3 row">
                <div class="col-8">
                  <%= link_to tool_path(tool) do %>
                    <h5 class="mt-1 mb-0"><%= tool.name%></h5>
                  <% end %>
                  <h6><%= tool.description %></h6>
                </div>
                <div class="col-3 text-center my-auto mr-2">
                  <% if tool.user.avatar.attached? %>
                    <%= cl_image_tag tool.user.avatar.key, class:'rounded-circle w-50 mb-3' %>
                  <% else %>
                    <%= image_tag "avatar-default.png", class:'rounded-circle w-50 mb-3' %>
                  <% end %>
                  <p>£ <%= tool.price_per_day %>/day</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="border border-danger d-none d-sm-block col-sm-6 m-0 p-0 w-100 sticky-top">
      <div data-user="<%=[ current_user.longitude, current_user.latitude ]%>" id="map" style="width: 100%; height: 500px;" data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>


