<div class= "container ">
  <div class="product_details">
    <h1><%= @tool.name.upcase %></h1>
    <% if @tool.reviews %>
      <div class="d-inline-block">
        <p>★ <%= @tool.reviews.average(:rating).round(2) %> (<%= @tool.reviews.count %>)  </p>
      </div>
    <% end %>
    <div class="d-inline-block">
      <p>·  <u>Stoke Newington, London, UK</u></p>
    </div>
    <div class="d-inline-block ml-3 mt-0">
      <p class="badge badge-primary mt-0"><%= @tool.category %></p>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-12 col-lg-7">

      <img src="https://images.ctfassets.net/zma7thmmcinb/7lj9qlwKbgzj7avuaYYWj2/5da67aa7854a4c401f63af502227f572/choosing-the-right-garden-hoe-pv.jpg" alt="Garden Hoe" width="100%" height="400">
      <div class="my-5">
        <h3>Tool Description</h3>

        <p><%= @tool.description %></p>
      </div>
      
      <h3><%= pluralize @tool.reviews.size, "review" %></h3>
      <div id="reviews">  
        <% if @tool.reviews.blank? %>
          Be the first to leave a review for <%= @tool.name %>
        <% else %>
          <% @tool.reviews.each do |review| %>
            <div class="comment">
              <%= cl_image_tag review.user.avatar.key, height: 90, width: 90, crop: :fill, class:"mr-3 rounded" %>
              <div class="comment-content">
                <p><small><%= review.created_at.strftime("%d/%m/%Y")%></small></p>
                <p><%= review.content %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= simple_form_for([ @tool, @review ], remote: true) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :content %>
          <%= f.input :rating, collection: Review::RATINGS %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
    <% end %>
    </div>


    <div class="col-xs-12 col-lg-5">
      <div class="container d-flex justify-content-center profile-justify-content-center">
        <div class="profile-card card w-100">
          <div id="price" class="container d-flex profile-justify-content-center mt-5">
            <div class="d-inline-block">
              <h1>£<%= @tool.price_per_day %></h1>
            </div>
            <div class="d-inline-block mt-4">
              <p>/ day</p>
            </div>
          </div>
          <%= link_to "Rent This Tool", new_tool_booking_path(@tool), class: "btn btn-primary btn-round-lg" %>
          <hr/>
          <span class="text-muted ml-4">About the Seller</span>
          <div class="media">
            <% if @tool.user.avatar.attached? %>
              <%= cl_image_tag @tool.user.avatar.key, height: 90, width: 90, crop: :fill, class:"mr-3 rounded" %>
            <% else %>
              <%= image_tag "avatar-default.png", height: 90, width: 90, crop: :fill, class:"mr-3 rounded" %>
            <% end %>
            <div class="media-body">
              <%= link_to user_path(@tool.user) do %>
                <h5 class="mt-1 mb-0"><%= @tool.user.first_name&.capitalize%> <%=@tool.user.last_name&.capitalize%></h5>
              <% end %>
              <p class="pt-1 mb-1">London, UK</p>
              <span class="text-muted">Member Since: <%= @tool.user.created_at.strftime("%d/%m/%Y")%></span>
            </div>
          </div>
          <div class="d-flex flex-row profile-justify-content-between align-items-center p-3 mx-3">
            <%= link_to user_path(@tool.user, tools:true) do %>
              <div class="d-flex flex-row align-items-center"><i class="fas fa-tools"></i>
                <div class="d-flex flex-row align-items-start ml-3"><span>View All Tools</span></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

