<div class="container">

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Listings</a>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active blue-background" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="bookings">

        <div class="card" >
          <div class="profile-text">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h4><%= @user.first_name %> <%= @user.last_name %></h4>
              <div class="location d-flex">
                <i class="fas fa-map-marker-alt"></i>
                <p>Beirut</p>
                <div class="rating d-flex">
                  <p>RATING</p>
                  <p>8,6</p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="user-info">
              <h5 class="card-title">Passionate gardener living in Beirut</h5>
              <p class="card-text"> Contact information:</p>
              <ul>
                <li> EMAIL: <%= @user.email %></li>
                <li> NAME: <%= @user.first_name %> <%= @user.last_name %></li>
              </ul>
            </div>
            <% if @user.avatar.attached? %>
              <%= cl_image_tag @user.avatar.key, alt: "user-avatar", width: 200, height: 200, crop: :fill %>
              <% else %>
            <%= cl_image_tag "hammer.jpg", alt: "user-avatar", width: 200, height: 200, crop: :fill %>
            <% end %>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h4>Upcoming bookings</h4>
          </div>
          <div class="card-body">
            <% @bookings.each do |booking| %>
              <div class="bookings-card">
                <%= image_tag "tool.jpg", alt: "alttext", width: 300, height: 200 %>
                <div class="card-text">
                  <p><%= booking.booking_cost %> </p>
                  <p><%= booking.start_date.strftime("%A, %b %d") %> </p>
                  <p><%= booking.end_date.strftime("%A, %b %d") %> </p>
                  <p><%= booking.tool.name %> </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade red-background" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="tools">

        <div class="card" >
          <div class="profile-text">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h4><%= @user.first_name %> <%= @user.last_name %></h4>
              <div class="location d-flex">
                <i class="fas fa-map-marker-alt"></i>
                <p>Beirut</p>
                <div class="rating d-flex">
                  <p>RATING</p>
                  <p>8,6</p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="user-info">
              <h5 class="card-title">Passionate gardener living in Beirut</h5>
              <p class="card-text"> Contact information:</p>
              <ul>
                <li> EMAIL: <%= @user.email %></li>
                <li> NAME: <%= @user.first_name %> <%= @user.last_name %></li>
              </ul>
            </div>
            <% if @user.avatar.attached? %>
              <%= cl_image_tag @user.avatar.key, alt: "user-avatar", width: 200, height: 200, crop: :fill %>
              <% else %>
            <%= cl_image_tag "hammer.jpg", alt: "user-avatar", width: 200, height: 200, crop: :fill %>
            <% end %>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h4>Listed tools</h4>
          </div>
          <div class="card-body">

            <% @tools.each do |tool| %>
              <div class="bookings-card">
                <%= image_tag "hammer2.jpg", alt: "alttext", width: 300, height: 200 %>
                <div class="card-text">
                  <p><%= tool.name %> </p>
                  <p><%= tool.description %> </p>
                  <p><%= tool.price_per_day %> </p>
                  <p><%= tool.active %> </p>
                  <p><%= tool.category %> </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







